body{
    font-family: 'Gilroy', sans-serif;
}
/* home */
.header{
    min-height: 130vh;
    background: url(../img/hero.png);
    background-position: center;
    background-size: cover;
}
.navbar-brand{
    color: #fff !important;
    font-weight: bold;
}
nav ul li {
    margin-right: 35px;
}
nav ul li a{
    color: #f1f1f1 !important;
}
nav ul li a:hover{
    color: #fff !important;
}
.cart button{
    background: transparent;
    border: none;
    color: #fff;
}
.cart{
    display: none;
}
.header .dropdown-menu{
    background: #fff;
    border: 1px solid #fff;
}
.header .dropdown-menu a{
    color: #000 !important;
}
.header .dropdown-menu a:hover{
    background: none !important;
    color:  #fff
}
h1{
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
    line-height: 40px;
    padding-top: 70px;
    font-size: 35px;
}
h2{
    font-weight: bold;
}
h3{
    font-weight: bold;
    font-size: 20px;
}
p{
    font-size: 14px;
}
.header p{
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
    text-align: center;
    padding: 0 30px;
}
.header input[type="search"]{
    border-radius: 30px;
    background: rgba(72, 74, 76, 0.6);
    padding: 10px 20px;
    color: #fff;
}
.header input[type="search"]::placeholder{
    color: #f1f1f1 !important;
}
.header form button{
    border-radius: 50%;
    background: orange;
    color: #fff;
    border: 0;
    position: relative;
    left: 315px;
    bottom: 40px;
    height: 35px;
    width: 35px;
}
.header .navbar .navbar-toggler{
    background: white;
}

/* .choosing */
.choosing{
    padding: 100px 0;
}
.choosing a{
    color: #E58411;
    font-size: 14px;
    text-decoration: none;
}

/* best-sell */
.best-sell{
    padding: 100px 0;
    background: #F7F7F7;
}
.best-sell h2{
    text-align: center;
}

/* best Sell */
.best-sell{
    padding: 100px 0;
}
.best-sell ul{
    background: #EEEEEE !important;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px !important;
}
.best-sell ul li{
    margin: auto;
}
.best-sell ul li  button{
    color: #000 !important;
    background: #fff;
    border-radius: 30px !important;
    background: transparent !important;
}
.best-sell ul li button:focus{
    background: #fff !important;
}

.best-sell .tab-content{
    margin-top: 70px;
}
.best-sell .card-img{
    background: #FAFAFA;
}
.best-sell .card-img img{
    width: 100%;
}
.product-type{
    margin-bottom: 10px;
}
.product-rating span{
    color: #E58411;
}
.product-price{
    display: flex;
    justify-content: space-between;
}
.product-price button{
    background: transparent;
    border: none;
    margin-top: -13px;
}
.product-price button img{
    width: 50px;
}

/* experience */
.experience{
    padding: 50px 0;
}
.experience img{
    height: 400px;
    width: 600px;
    object-fit: cover;
    margin-left: -12px;
    display: none;
}
.experience a{
    color: #E58411;
    text-decoration: none;
}

/* material */
.material{
    padding: 50px 0;

}
.material a{
    color: #E58411;
}
.material .material-img img{
    width: 100%;
}

/* review */
.review{
    padding: 100px 0;
}
.review .card{
    height: 480px;
    border-radius: 20px;
    object-fit: cover;
}
.review .card-01{
    background: url(../img/card-review-01.png);

}
.review .card-02{
    background: url(../img/card-review-02.png);

}
.review .card-03{
    background: url(../img/card-review-03.png);

}
.review .card-content{
    background: #fff;
    height: 250px;
    margin-top: 210px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
.review .card-content img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -70px;
    border: 5px solid #fff;
    margin-bottom: -10px;
}
.review .review-rating{
    color: #E58411;
}
.review-rating .star-null{
    opacity: 50%;
}

/* footer */
.footer{
    padding: 50px 0;
    background: #F7F7F7;
}
.footer ul li{
    list-style: none;
    margin-left: -32px;
    margin-bottom: 10px;
}
.footer ul li a{
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.footer ul li img{
    margin-right: 10px;
}
.footer-side{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.footer-side a{
    color: #000;
    text-decoration: none;
    margin-left: 20px;
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
/* home */
.cart button{
    background: transparent;
    border: none;
    color: #fff;
    display: block;
}
.cart{
    display: block;
}
.troli{
    display: none;
}
h1{
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
    line-height: 80px;
    padding-top: 70px;
    font-size: 60px;
}
.best-sell ul{
    background: #EEEEEE !important;
    width: 21%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px !important;
}
.material{
    padding: 100px 0;

}
.experience{
    padding: 100px 0;
}
.experience img{
    display: block;
}
 }